<EmoticonSet>
    <name>huxin</name>
    <line>3</line>
    <row>7</row>
    <iconUri>emotion_01.png</iconUri>
    <isShowName>0</isShowName>
    <isShowDelBtn>1</isShowDelBtn>
    <itemPadding>20</itemPadding>
    <horizontalSpacing>0</horizontalSpacing>
    <verticalSpacing>0</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_01.png</iconUri>
            <name>大笑</name>
            <tag>[大笑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_02.png</iconUri>
            <name>嘻嘻</name>
            <tag>[嘻嘻]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_03.png</iconUri>
            <name>哭笑</name>
            <tag>[哭笑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_04.png</iconUri>
            <name>晃脑笑</name>
            <tag>[晃脑笑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_05.png</iconUri>
            <name>欢乐</name>
            <tag>[欢乐]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_06.png</iconUri>
            <name>开心</name>
            <tag>[开心]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_07.png</iconUri>
            <name>流汗</name>
            <tag>[流汗]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_08.png</iconUri>
            <name>闭眼笑</name>
            <tag>[闭眼笑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_09.png</iconUri>
            <name>眨眼睛</name>
            <tag>[眨眼睛]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_10.png</iconUri>
            <name>可爱</name>
            <tag>[可爱]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_11.png</iconUri>
            <name>吐舌</name>
            <tag>[吐舌]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_12.png</iconUri>
            <name>酷</name>
            <tag>[酷]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_13.png</iconUri>
            <name>喜欢</name>
            <tag>[喜欢]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_13_2.png</iconUri>
            <name>爱你</name>
            <tag>[爱你]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_14.png</iconUri>
            <name>亲亲</name>
            <tag>[亲亲]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_15.png</iconUri>
            <name>么么</name>
            <tag>[么么]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_16.png</iconUri>
            <name>吻一下</name>
            <tag>[吻一下]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_17.png</iconUri>
            <name>微笑</name>
            <tag>[微笑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_18.png</iconUri>
            <name>嗯</name>
            <tag>[嗯]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_19.png</iconUri>
            <name>鼓掌</name>
            <tag>[鼓掌]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_20.png</iconUri>
            <name>思考</name>
            <tag>[思考]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_21.png</iconUri>
            <name>懵</name>
            <tag>[懵]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_22.png</iconUri>
            <name>无语</name>
            <tag>[无语]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_23.png</iconUri>
            <name>干瞪眼</name>
            <tag>[干瞪眼]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_24.png</iconUri>
            <name>疑惑</name>
            <tag>[疑惑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_25.png</iconUri>
            <name>狡黠</name>
            <tag>[狡黠]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_26.png</iconUri>
            <name>蓝瘦</name>
            <tag>[蓝瘦]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_27.png</iconUri>
            <name>难受</name>
            <tag>[难受]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_28.png</iconUri>
            <name>惊讶</name>
            <tag>[惊讶]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_29.png</iconUri>
            <name>闭嘴</name>
            <tag>[闭嘴]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_30.png</iconUri>
            <name>哦</name>
            <tag>[哦]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_31.png</iconUri>
            <name>困</name>
            <tag>[困]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_32.png</iconUri>
            <name>不要</name>
            <tag>[不要]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_33.png</iconUri>
            <name>睡觉</name>
            <tag>[睡觉]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_34.png</iconUri>
            <name>自在</name>
            <tag>[自在]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_35.png</iconUri>
            <name>眼镜兄</name>
            <tag>[眼镜兄]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_36.png</iconUri>
            <name>调皮</name>
            <tag>[调皮]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_37.png</iconUri>
            <name>调皮一下</name>
            <tag>[调皮一下]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_38.png</iconUri>
            <name>吐舌笑</name>
            <tag>[吐舌笑]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_39.png</iconUri>
            <name>流口水</name>
            <tag>[流口水]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_40.png</iconUri>
            <name>鄙视</name>
            <tag>[鄙视]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_41.png</iconUri>
            <name>没办法</name>
            <tag>[没办法]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_42.png</iconUri>
            <name>无奈</name>
            <tag>[无奈]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_43.png</iconUri>
            <name>哼</name>
            <tag>[哼]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_44.png</iconUri>
            <name>倒立</name>
            <tag>[倒立]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_45.png</iconUri>
            <name>生气</name>
            <tag>[生气]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_46.png</iconUri>
            <name>不明白</name>
            <tag>[不明白]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_47.png</iconUri>
            <name>很生气</name>
            <tag>[很生气]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_48.png</iconUri>
            <name>小泣</name>
            <tag>[小泣]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_49.png</iconUri>
            <name>大哭</name>
            <tag>[大哭]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_50.png</iconUri>
            <name>恐怖</name>
            <tag>[恐怖]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>emotion_51.png</iconUri>
            <name>惊恐</name>
            <tag>[惊恐]</tag>
        </EmoticonBean>
    </EmoticonBeans>
</EmoticonSet>